body {
  background: rgb(49, 47, 47);
  color: pink;  
}

.game-name {
    text-align: center;
}

.container {
    background-image: url("../images/crystalBG.jpg");
    border: 15px;
    
}

.count {
    color: aqua;
}

.p-wins {
    color: aquamarine;
}

.p-losses {
    color: azure;
}

.r-num {
    color: aliceblue;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-bottom: 40px;
}